<table class="table-fixed w-full m-8">
  <tbody>
    <tr>
      <td>DAY</td>
      <td>{{ store.stats().day | ceil }}</td>
    </tr>
    <tr>
      <td>DISTANCE</td>
      <td>{{ store.stats().distance | floor }}</td>
    </tr>
    <tr>
      <td>CREW</td>
      <td [class.text-red-600]="store.stats().crew <= 10">{{ store.stats().crew }}</td>
    </tr>
    <tr>
      <td>FOOD</td>
      <td [class.text-red-600]="store.stats().food <= 15">{{ store.stats().food | ceil }}</td>
    </tr>
    <tr>
      <td>OXEN</td>
      <td [class.text-red-600]="store.stats().oxen === 0">{{ store.stats().oxen }}</td>
    </tr>
    <tr>
      <td>MONEY</td>
      <td [class.text-red-600]="store.stats().money <= 20">{{ store.stats().money }}</td>
    </tr>
    <tr>
      <td>FIREPOWER</td>
      <td [class.text-red-600]="store.stats().firepower === 0">{{ store.stats().firepower }}</td>
    </tr>
    <tr>
      <td>WEIGHT / CAPACITY</td>
      <td>
        <span [class.text-red-600]="store.weight() >= store.capacity() - 5">{{
          store.weight() | ceil
        }}</span>
        / {{ store.capacity() }}
      </td>
    </tr>
  </tbody>
</table>
