<table class="table-fixed w-full m-8">
  <tbody>
    <tr>
      <td>Day</td>
      <td>{{ store.stats().day | ceil }}</td>
    </tr>
    <tr>
      <td>Distance</td>
      <td>{{ store.stats().distance | floor }}</td>
    </tr>
    <tr>
      <td>Crew</td>
      <td>{{ store.stats().crew }}</td>
    </tr>
    <tr>
      <td>Food</td>
      <td>{{ store.stats().food | ceil }}</td>
    </tr>
    <tr>
      <td>Oxen</td>
      <td>{{ store.stats().oxen }}</td>
    </tr>
    <tr>
      <td>Money</td>
      <td>{{ store.stats().money }}</td>
    </tr>
    <tr>
      <td>Firepower</td>
      <td>{{ store.stats().firepower }}</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>{{ store.weight() | ceil }} / {{ store.capacity() }}</td>
    </tr>
  </tbody>
</table>
