<h5 class="mb-6 text-lg text-center">Shop till you drop!</h5>
<div class="grid grid-cols-2 gap-4 mb-4">
  <button class="btn">
    <div>Food</div>
    <div>20 - $60</div>
  </button>
  <button class="btn">
    <div>Oxen</div>
    <div>1 - $300</div>
  </button>
  <button class="btn">
    <div>Firepower</div>
    <div>2 - $80</div>
  </button>
  <button class="btn">
    <div>Crew</div>
    <div>5 - $60</div>
  </button>
</div>

<div class="flex flex-row justify-evenly w-auto">
  <button class="btn btn-primary">Leave Shop</button>
</div>
