input[type="range"]{
  appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background: url('/images/wagon.svg');
  height: 70px;
  width: 70px;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  background: url('/images/wagon.svg') bottom no-repeat;
  border: none;
  height: 118px;
  width: 70px;
}