<div class="grid h-screen place-items-center">
  <h2 class="text-center my-[-20px] text-3xl">Oregon Hell</h2>
  <div class="grid grid-cols-3 gap-8 w-4/5">
    <game-stats class="h-72 flex bg-white rounded-lg"></game-stats>
    <game-events class="h-72 col-span-2 bg-white rounded-lg overflow-auto snap-end"></game-events>
    <game-actions class="h-72 flex bg-white rounded-lg"></game-actions>
    <journey-progress class="h-72 col-span-2 flex items-center"></journey-progress>
  </div>
  <p>A JavaScript game by Ryan Boros</p>
</div>
